<nav id="mynav" class="navbar sticky-top  nav-colored">
      <a  class="brandhome codelnlogo" href="/">CODELN</a>



    <ul class="nav justify-content-end orient">
  <li class="nav-item">
    <a class="nav-link colorlink" href="/pricing">Pricing</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorlink" href="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link colorlink" href="/signup">Signup</a>
  </li>

</ul>
</nav>