.codelnlogo{padding-left:0;font-size:19px;letter-spacing:.4em;font-family:'Montserrat',sans-serif;font-weight:bold;color:#2b63b7;text-transform:uppercase;}
.colorlink{color:black;}
.brandhome{float:left;padding:16px 15px;font-size:20px;height:40px;margin-left:7%;}
.rowalign{margin-right:0;margin-left:0;}
.intro{margin-top:10%;}
.jumbo{margin-top:1%;margin-bottom:0rem;background-color:#ffffff;border-radius:.0px;}
.jumbo1{background-color:#ffffff;border-radius:.0px;margin-top:-3%;}
.jumbo5{background-color:#ffffff;border-radius:.0px;margin-top:-5%;}
.jumbo4{background-color:#ffffff;border-radius:.0px;margin-top:-7%;}
.jumbo2{background-color:#e1f2f678;border-radius:.0px;}
.jumbo3{background-color:rgba(255, 255, 255, 0.47);border-radius:.0px;height:40vmax;}
.jumbofoot{margin-top:1%;margin-bottom:0rem;background-color:#E8EBEF;border-radius:.0px;}
.beer1{height:100%;width:100%;}
.nav-colored{background-color:#ffffff;}
.nav-transparent{background-color:transparent;}
.orient{margin-right:5%;}
.how{min-width:20%;}
.noed{border:0px;}
.yum{width:100%;}
.howcard{width:100%}
.fly{border:0px}
.benefit{width:30%;margin-bottom:5%;}
.lang{width:40%;border:0px solid rgba(0,0,0,.125);}
.how2{margin-left:7%;}
.ml{border-radius:0px;}
.price{height:100%;box-shadow:0px 1px 3px rgba(0, 0, 0, 0.3);}
.lis{position:relative;display:block;padding:.75rem 1.25rem;margin-bottom:-1px;background-color:#fff;}
.proce{margin-left:35%;width:32%;}