 <section class="jumbotron jumbo">

            <div class="row rowalign">
                <div class="col-lg-6 intro">
                    <div class="text-center">
                <div >
                    <h1>Validate the programming skills of potential employees.</h1>
                    <div>
                        <a class="btn btn-primary" href="/signup">Get Started</a>
                    </div>
                </div>
            </div>
                </div>
                <div class="col-lg-5">
                    <img class="beer1" src="../.././images/1.png">

                </div>
            </div>



    </section>
 <!--how it works-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             How it works
         </div>
     </div>

     <div class="row">
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/user/add.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">select project</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/user/variable.jpg" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">set enviroment variables</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/user/custom.jpg" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">customise requirement</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/user/email.jpg" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">send out invites</p>
                 </div>
             </div>
         </div>
         <div class="col-lg-2 how">
             <div class="card" style="width: 15rem;height: 15rem">
                 <img class="card-img-top" src="../.././images/user/report.png" alt="Card image cap">
                 <div class="card-body">
                     <p class="card-text text-center">Get comprehensive report</p>
                 </div>
             </div>
         </div>
     </div>


 </section>
<!--features-->
  <!--benefits-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             Benefits
         </div>
     </div>
     <div class="row">
         <div class="col-lg-5 ">
             <div class="card noed" style="width: 29rem;margin-left: 9%">
                 <img class="card-img-top" src="../.././images/user/benefit.png" alt="Card image cap">
                 <div class="card-body">

                 </div>
             </div>
         </div>
         <div class="col-lg-7">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="card noed" style="width: 18rem;">
                         <div class="card-body">
                             <div>
                                 <img class="card-img-top benefit" src="../.././images/bank.svg" alt="Card image cap">
                             </div>
                             <h6 class="card-subtitle mb-2 ">Save on recruitment cost</h6>
                             <p class="card-text text-muted">
                                 Save up on cost of sourcing,screening and assessment by upto 55%
                             </p>

                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="card noed" style="width: 18rem;">
                         <div class="card-body">
                             <div>
                                 <img class="card-img-top benefit" src="../.././images/time.svg" alt="Card image cap">
                             </div>
                             <h6 class="card-subtitle mb-2 ">Time </h6>
                             <p class="card-text text-muted">Automation of the screening process reduces hand's on work by upto 60%</p>

                         </div>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="col-lg-6">
                     <div class="card noed" style="width: 18rem;">
                         <div class="card-body">
                             <div>
                                 <img class="card-img-top benefit" src="../.././images/screen.svg" alt="Card image cap">
                             </div>
                             <h6 class="card-subtitle mb-2 ">Proper screening of candidates</h6>
                             <p class="card-text text-muted">Candidate's skill is measured on their capability of doing real world tasks</p>

                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="card noed" style="width: 18rem;">
                         <div class="card-body">
                             <div>
                                 <img class="card-img-top benefit" src="../.././images/workplace.svg" alt="Card image cap">
                             </div>
                             <h6 class="card-subtitle mb-2 ">Wokplace fit of new employees</h6>
                             <p class="card-text text-muted">
                                 The screening process merits candidates who can easily assimilate to the company's tech stack.
                             </p>

                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>


    </section>
  <!--what we support-->
 <section class="jumbotron jumbo1">
     <div class="row">
         <div class="col-lg-12 text-center h2">
             We support
         </div>
     </div>

     <div class="row" style="margin-top: 5%">
         <img class="img-thumbnail fly" src="../.././images/languages/javascript.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/python.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/java.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/php.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/cplusplus.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/csharp.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/dot-net.svg" >
         <img class="img-thumbnail fly" src="../.././images/languages/ruby.svg" >

     </div>

    </section>

 <section class="jumbotron jumbo2">
     <div class="row">
                <div class="col-md-6 text-center">
                    <p class="h3">Get started?</p>
                </div>
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" href="/signup">Create free account</a>
                    <a class="btn btn-light " href="/signup">Request Demo</a>
                </div>
            </div>
 </section>




 <!--footer-->
 <footer class="jumbotron jumbofoot">
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Products</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/take_home">Pair programming</a></li>
                    <li><a class="colorlink" href="/remote_interview">Video proctor</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>
                    <li><a class="colorlink" href="/terms">Terms and conditions</a></li>
                    <li><a class="colorlink" href="/privacy">Privacy policy</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

