<section class="jumbotron jumbo3">

    <div class="row">
        <div class="col-lg-4"></div>
         <div class="col-lg-4">
             <div class="card price" >

                 <div class="card-body">

                     <p class="card-text h3 text-center"> $20</p>
                     <h5 class="card-title text-center">Per candidate</h5>
                 </div>
                 <ul>
                     <li class="lis">1 project</li>
                     <li class="lis"> Project customization</li>
                     <li class="lis">2 weeks project validity</li>
                     <li class="lis">Access to full project library</li>
                     <li class="lis">Application tracking system</li>
                     <li class="lis">Comprehensive reports</li>
                     <li class="lis">Email support</li>
                 </ul>
                 <div class="card-body">
                     <a class="btn btn-primary" style="margin-left: 30%" href="/signup">Create account</a>
                 </div>
             </div>
         </div>
     </div>
 </section>
