<section class="jumbotron jumbo3">
     <div class="row">
         <div class="col-lg-12 text-center">
             <p class="h3">Pricing</p>
         </div>
     </div>
    <div class="row">
         <div class="col-lg-12">
             <div class="card price" >

                 <div class="card-body">

                     <p class="card-text h3 text-center"> $5</p>
                     <h5 class="card-title text-center">Per candidate</h5>
                 </div>
                 <ul>
                     <li class="lis">Full project library</li>
                     <li class="lis">Comprehensive report</li>
                     <li class="lis">Email support</li>
                 </ul>
                 <div class="card-body">
                     <a class="btn btn-primary" style="margin-left: 30%" href="/signup">Create account</a>
                 </div>
             </div>
         </div>
     </div>
 </section>
<footer class="jumbotron jumbofoot">
    <div class="container">
        <div class="row">
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Products</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/take_home">Pair programming</a></li>
                    <li><a class="colorlink" href="/remote_interview">Video proctor</a></li>

                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Company</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="/about">About us</a></li>
                    <li><a class="colorlink" href="/careers">Careers</a></li>
                    <li><a class="colorlink" href="#">Blog</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Resources</h3>
                <ul class="directory-items list-unstyled">
                    <li><a class="colorlink" href="#">Contact us</a></li>
                    <li><a class="colorlink" href="#">Help center</a></li>
                    <li><a class="colorlink" href="/terms">Terms and conditions</a></li>
                    <li><a class="colorlink" href="/privacy">Privacy policy</a></li>
                </ul>
            </div>
            <div class="directory col-xs-6 col-sm-3">
                <h3 class="directory-title">Follow</h3>
                <ul class="directory-items list-unstyled">
                    <li>
                        <a href="https://twitter.com/Codeln_spaces" target="_blank">
                            <i><span data-feather="twitter"></span></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/codeln/" target="_blank">
                            <i><span data-feather="linkedin"></span></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>