<section class="jumbotron jumbo3">

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <div class="card price">

                <div class="card-body">

                    <p class="card-text h3 text-center" style="color: #2524FF"> $20 Per candidate</p>


                    <ul>
                        <li class="lis">1 project</li>
                        <li class="lis">3 team members</li>
                        <li class="lis">2 weeks project validity</li>
                        <li class="lis">Access to full project library</li>
                        <li class="lis">Application tracking system</li>
                        <li class="lis">Comprehensive reports</li>
                        <li class="lis">Email support</li>
                    </ul>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" style="margin-left: 30%" href="/signup">Create account</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card price">
                <div class="card-body">
                    <h3 class="card-title text-center" style="color: blue">Enterprise</h3>


                    <ul>
                        <li class="lis">Unlimited team members</li>
                        <li class="lis">4 weeks project validity</li>
                        <li class="lis">multiple projects</li>
                        <li class="lis">Project customization</li>
                        <li class="lis">Priority Email support</li>
                    </ul>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" style="margin-left: 30%" href="/signup">Create account</a>
                </div>
            </div>
        </div>
    </div>
</section>
