<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cardno great gr">
                <div class="card-body">

                    <img class="beer" src="https://cdn.dribbble.com/users/77598/screenshots/4308169/dribbble1.png">
                    <div class="h4">Showcase your skills.</div>


                </div>
            </div>


        </div>
        <div class="col-lg-4" style="margin-top: 6%">
            <form action="/dev" method="post">
                <div class="form-group">
                    <h4>Login</h4>
                    {{#if hasErrors}}
                        <div class="alert alert-danger">
                            {{#each message}}
                                <p>{{this}}</p>

                            {{/each}}
                        </div>

                    {{/if}}

                    <label>Email</label>
                    <input type="email" id="inputEmail" required autofocus class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" required class="form-control" name="password">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

            <hr>


        </div>
    </div>


</div>