<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h3>Projects assigned</h3>
</div>
<div class="row">
    <div class="col-sm-4">
        <a href="/details">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title">Bitcoin app</h5>
                    <p class="card-text"><strong>Company:</strong> Mest Africa</p>
                    <p class="card-text"><strong>Type:</strong> backend developer</p>


                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-4">
        <a href="/details">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title">Photoshare devops</h5>
                    <p class="card-text"><strong>Company:</strong> MTN </p>
                    <p class="card-text"><strong>Type:</strong> dev ops</p>


                </div>
            </div>
        </a>
    </div>

</div>






