<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h4>Project prerequisites</h4>
</div>
<div class="row">
    <div class="col-lg-12">

        <div class="row">
            <div class="col-sm-4  text-center">
                <h6>Internet is working and stable</h6>
                <img src="images/building.png" height="80" alt="..."> <br><br>
                <div class="btn-group" role="group" aria-label="Basic example" style="float:center;">
                    <button type="button" class="btn btn-danger">Test it</button>
                </div>
            </div>
            <div class="col-sm-4  text-center">
                <h6>Webcam is unobstructed during test time</h6>
                <img src="images/webcam.png" height="80" alt="..."> <br><br>
                <div class="btn-group" role="group" aria-label="Basic example" style="float:center">
                    <button type="button" class="btn btn-danger">Test it</button>
                </div>
            </div>
            <div class="col-sm-4  text-center">
                <h6>Don't use any VPN (virtual Private Network)</h6>
                <img src="images/vpn.png" height="80" alt="...">
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-lg-8" style="text-align: left">


                <div class="card5" style="text-align: left">
                    <div class="card-body">

                        <h5 class="card-subtitle mb-2 ">Project details</h5>
                        <hr>
                        <h6>Crypto-price watcher</h6>
                        <p class="card-text ">
                            You have been approached by a client who has a healthy interest in Cryptocurrency.
                            He wants to know how the various coins are performing against US Dollars.
                            His Company is mostly interested in Bitcoin.
                            What his team needs is a dashboard that shows the price of Bitcoin at any point in time
                            without having to refresh the browser.
                            They need the pricing information in realtime because that'd influence their decision
                            whether to buy or sell.

                        </p>


                        <h5 class="card-subtitle mb-2 ">Deliverables</h5>
                        <hr>
                        <h7>Basic features</h7>
                        <p class="card-text ">
                        <ul>
                            <li>Simple sketch of your thought process(components to use and reason)</li>
                            <li>Improved UI/UX</li>
                            <li>Sign up for users at your Client's company</li>
                            <li>Login (you are free to use a package such as Passport for Authentication)</li>
                            <li>Integration with at least 3 exchanges (with Websocket API for their market data).
                                Examples of such exchanges are Bitstamp, OKCoin, etc.
                            </li>
                        </ul>

                        </p>
                        <h7>Advanced features</h7>
                        <p class="card-text ">
                        <ul>
                            <li>
                                Persist the market data in a PostgreSQL database (node-postgres)
                            </li>
                            <li>
                                Allow users to set up alerts for a certain price point
                            </li>
                        </ul>
                        </p>


                        <h5 class="card-subtitle mb-2 ">Enviroment variables</h5>
                        <hr>
                        <p class="card-text ">
                        <ul>
                            <li>Base language : Javascript es6</li>
                            <li>Framework : Express js</li>
                            <li>Database : Mongo db</li>
                            <li>Version control system : Gitlab</li>
                            <li>Time : 2 hrs</li>
                        </ul>

                        </p>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 " style="text-align: left">
                <div class="card5" style="width: 100%;">
                    <div class="card-body">

                        <h5 class="card-subtitle mb-2 text-muted">Login access</h5>
                        <hr>
                        <p class="card-text">

                            Username: johndoe@gmail.com<br>
                            password: ****************<br>
                            <a href="http://128.199.37.244:8080/dashboard/#/ide/che/wksp-ogjq" class="btn btn-primary">Start
                                project</a>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









