<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Tech stack customisation</h5>
    {{#if username}}

        <div class="panel-body">
            <p>Username: {{username.local.username}}</p>

        </div>


    {{else}}


        <p>Sign in and view your profile!</p>
        <p>
            <a href="/signin" class="btn btn-primary btn-lg" role="button">
                <span class="glyphicon glyphicon-user"></span>
                Sign in!
            </a>
        </p>

    {{/if}}
</div>

{{# if products }}

    {{# each products}}
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <img class="card-img-top" src="{{this.picture}}" alt="Card image cap">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h5 class="cardtitle">Choose tech stack </h5>


                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState"> Client side framework</label>
                        <select id="inputState" class="form-control" name="framework">
                            <option selected>Choose...</option>
                            <option>Angular</option>
                            <option>React</option>
                            <option>Vue</option>
                            <option>Meteor</option>

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Server side Framework</label>
                        <select id="inputState" class="form-control" name="framework">
                            <option selected>Choose...</option>
                            <option>Django</option>
                            <option>Express js</option>
                            <option>Ruby on Rails</option>
                            <option>Flask</option>
                            <option>Laravel</option>

                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Database</label>
                        <select id="inputState" class="form-control">
                            <option name="database" selected>Choose...</option>
                            <option>Postgress</option>
                            <option>Mongo</option>
                            <option>Firebase</option>
                            <option>mariadb</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="inputState">Time (hr)</label>
                        <select id="inputState" class="form-control" name="time">
                            <option selected>Choose...</option>
                            <option>2</option>
                            <option>4</option>
                            <option>6</option>
                            <option>8</option>

                        </select>
                    </div>
                </div>
                <a class="btn btn-success btn-block"  href="/requirements" role="button">Next</a>
            </div>
        </div>

    {{/each}}






{{else}}
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h2>No project choosen</h2>
        </div>
    </div>
{{/if}}






