<div class="row">
    <div class="col-lg-12">

        <div class="tabbable-panel nel">
            <div class="tabbable-line">
                <!---tabs-->
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">
                            <b>Overview</b></a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            <b>Measures </b></a>
                    </li>
                    <li>
                        <a href="#tab_default_3" data-toggle="tab">
                            <b>Developer workflow</b></a>
                    </li>
                    <li>
                        <a href="#tab_default_4" data-toggle="tab">
                            <b>Project review</b></a>
                    </li>
                </ul>
            </div>
        </div>
        <!---content-->
        <div class="tab-content">
            <!---overview-->
            <div class="tab-pane active" id="tab_default_1">
                <div class="content">
                    <div class="container-fluid">
                        <!---intro--->
                        <div class='row' style="padding-top: 25px">
                            <div class="col-lg-2">
                                <img src="../.././images/user/55.jpg">
                            </div>

                            <div class="col-md-5">
                                <div>

                                    <strong>Name:</strong> Rosy Jones<br>
                                    <strong>Project Name:</strong> Bitcoin App<br>
                                    <strong>Position Applied For:</strong> Junior Engineer<br>
                                    <strong>Date:</strong> 12th May, 2018
                                </div>

                            </div>
                            <div class="col-md-2">
                                <div>
                                    <p><strong>Recruiter's Vote:</strong></p>

                                </div>
                            </div>
                        </div>
                        <hr>
                        <!---marks--->
                        <div class="row" style="margin-top: 40px">
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="criteriaspaces text-center">
                                        <p><strong>Time Spent (Minutes)</strong></p>
                                        <!-- <p id='smallp'>(Total Number of Tests Passed)</p>   -->
                                        <p><strong>45</strong></p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="criteriaspaces text-center">
                                        <p><strong>Overall Score</strong></p>
                                        <!-- <p id='smallp'>(Total Number of Tests Failed)</p>   -->
                                        <p><strong>78%</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="criteriaspaces text-center">
                                        <p><strong>Competency</strong></p>
                                        <!-- <p id='smallp'>High</p>   -->
                                        <p><strong>High</strong></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card">
                                    <div class="criteriaspaces text-center">
                                        <p><strong>Defect Level</strong></p>
                                        <!-- <p id='smallp'>/p>   -->
                                        <p><strong>Low</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---overview--->
                        <div class="reportspace">
                            <div>

                                <div class="row">
                                    <div class="col-lg-4">
                                        <h5 class="text-center">Base language used</h5>
                                        <div class="text-center">
                                            Javascript (es6)

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <h5 class="text-center">Frameworks used</h5>
                                        <div class="text-center">
                                            Angular
                                            git
                                            heroku
                                        </div>

                                    </div>

                                    <div class="col-lg-4">
                                        <div class="text-center">
                                            <h5 class="text-center">Time alloted</h5>
                                            2 hrs

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <!---proffieciency--->
                        <div class="reportspace">
                            <div class="col-lg-12 ">
                                <h4 class="text-center">Candidate profficiency</h4>
                                <hr>
                                <div class="row">


                                    <div class="col-lg-3  profficiencycard">
                                        <a href="project.php">
                                            <div class="profficiencycardtitle"> core javascript</div>
                                            <div class="profficiencycardtext"> 60 points</div>
                                        </a>

                                    </div>
                                    <div class="col-lg-3  profficiencycard">
                                        <a href="project.php">
                                            <div class="profficiencycardtitle">Angular</div>

                                            <div class="profficiencycardtext"> 70 points</div>
                                        </a>

                                    </div>
                                    <div class="col-lg-3  profficiencycard">
                                        <a href="project.php">
                                            <div class="profficiencycardtitle">version control</div>

                                            <div class="profficiencycardtext"> 58 points</div>
                                        </a>

                                    </div>
                                    <div class="col-lg-3  profficiencycard">
                                        <a href="project.php">
                                            <div class="profficiencycardtitle">problem decomposition</div>

                                            <div class="profficiencycardtext"> 50 points</div>
                                        </a>

                                    </div>


                                </div>

                            </div>

                        </div>
                        <!---deliverables--->
                        <div class="reportspace">
                            <div class="col-lg-12 report4">
                                <div class="text-center">
                                    <h4 class="text-center">Project deliverables</h4>


                                </div>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>

                                        <th scope="col">Deliverable</th>

                                        <th scope="col">status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>

                                        <td>Improved UI/UX</td>

                                        <td><span class="badge badge-success">Success</span></td>
                                    </tr>
                                    <tr>

                                        <td>Sign up for users at your Client's company</td>

                                        <td><span class="badge badge-success">Success</span></td>
                                    </tr>
                                    <tr>

                                        <td>Login (you are free to use a package such as Passport for Authentication)
                                        </td>
                                        <td><span class="badge badge-success">Success</span></td>
                                    </tr>
                                    <tr>

                                        <td>Integration with at least 3 exchanges</td>
                                        <td><span class="badge badge-warning">2/3 complete</span></td>
                                    </tr>
                                    <tr>

                                        <td>Persist the market data in a PostgreSQL database</td>
                                        <td><span class="badge badge-danger">Incomplete</span></td>
                                    </tr>
                                    <tr>

                                        <td>Allow users to set up alerts for a certain price point</td>
                                        <td><span class="badge badge-danger">Incomplete</span></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!---code quality--->
                        <div class="reportspace">
                            <div class="col-lg-12">
                                <h4 class="text-center">Code quality</h4>
                                <hr>

                                <div id="chart" style="height: 300px; width: 100%;"></div>


                            </div>

                        </div>
                        <!---social--->
                        <div class="reportspace">
                            <div class="col-lg-12 ">
                                <h4 class="text-center">social contributions</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-12 ">

                                        <div class="row">

                                            <div class="col-lg-6 ">
                                                <div class="text-center">
                                                    stack overflow
                                                </div>

                                                <div class="text-center">badges</div>
                                                <div class="card-group">
                                                    <div class="card" style="height: 50px">
                                                        <img class="card-img-top"
                                                             style="height: 48px;width: 48px;margin-left: 54px;"
                                                             src="../.././images/cons/icons8-gold-medal-48.png"
                                                             alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="margin-left: 54px;">1</h5>
                                                        </div>
                                                    </div>
                                                    <div class="card" style="height: 50px">
                                                        <img class="card-img-top"
                                                             style="height: 48px;width: 48px;margin-left: 54px;"
                                                             src="../.././images/cons/icons8-silver-medal-48.png"
                                                             alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="margin-left: 54px;">4</h5>


                                                        </div>
                                                    </div>
                                                    <div class="card" style="height: 50px">
                                                        <img class="card-img-top"
                                                             style="height: 48px;width: 48px;margin-left: 54px;"
                                                             src="../.././images/cons/icons8-bronze-medal-48.png"
                                                             alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title" style="margin-left: 54px;">12</h5>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-lg-6">
                                                <div style="margin-left: 43px;">
                                                    Github
                                                </div>
                                                <ul>
                                                    <li>Number of repos : 38</li>
                                                    <li>Followers : 10</li>
                                                    <li>languages used: javascript,python</li>

                                                </ul>


                                            </div>
                                        </div>
                                        <div class="text-center" style="margin-top: 37px">
                                            Go to candidate's profile<br>
                                            <a href="https://stackoverflow.com/users/9630078/dennis-ruhiu"><img
                                                    src="../.././images/cons/icons8-stack-overflow-50.png"></a>
                                            <a style="margin-left: 308px;" href="https://github.com/robertruhiu"><img
                                                    src="../.././images/cons/icons8-github-64.png"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-12">
                                        <div class="row">

                                            <div class="text-center" style="width:100%">


                                                <canvas style="width: 100%" id="canvas"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!----measures---->
            <div class="tab-pane " id="tab_default_2">
                <div class="content">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-12">
                                <!-- <div class="card"> -->
                                <div class="text-center">

                                    <h4><strong>Criteria for Grading</strong></h4>
                                    <br>
                                </div>
                                <!-- Post Metrics Card -->
                                <div class="content">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Tests Passed</strong></p>
                                                        <p id='smallp'>(Total Number of Tests Passed)</p>
                                                        <p id='biggestp' style="color:rgb(0, 128, 28);">
                                                            <strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Tests Failed</strong></p>
                                                        <p id='smallp'>(Total Number of Tests Failed)</p>
                                                        <p id='biggestp' style="color:rgb(241, 7, 7);">
                                                            <strong>1</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Errors</strong></p>
                                                        <p id='smallp'>(Total Number of Errors)</p>
                                                        <p id='biggestp' style="color:rgb(241, 7, 7);">
                                                            <strong>5</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Bugs</strong></p>
                                                        <p id='smallp'>(Total Number of Bugs)</p>
                                                        <p id='biggestp' style="color:rgb(241, 7, 7);">
                                                            <strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Technical Debt</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp' style="color:rgb(241, 7, 7);">
                                                            <strong>7</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Code Smells</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>7%</strong></p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Code Coverage</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>7%</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Clone Coverage</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>60</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Lines of Code</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>70</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Duplications</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Number of Classes</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Maintainability</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Dependencies</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Number of Warnings</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Nesting Debts</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>System Build</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Severity</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Modularity</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp'><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Complexity</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp' style="color:green;"><strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="criteriaspaces text-center">
                                                        <p id='bigp'><strong>Number of Commit</strong></p>
                                                        <p id='smallp'>(Number of Tests Passed)</p>
                                                        <p id='biggestp' style="color:rgb(241, 7, 7);">
                                                            <strong>4</strong></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <!---Workflow-->
            <div class="tab-pane " id="tab_default_3">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">


                            <a class="nav-link active " style="border-radius: 0rem" data-toggle="pill"
                               href="#v-pills-problem" role="tab" aria-controls="v-pills-problem" aria-selected="true">
                                Problem decomposition
                            </a>
                            <a class="nav-link " style="border-radius: 0rem" data-toggle="pill" href="#v-pills-system"
                               role="tab" aria-controls="v-pills-system" aria-selected="false">
                                System decomposition
                            </a>
                            <a class="nav-link" style="border-radius: 0rem" data-toggle="pill" href="#v-pills-code"
                               role="tab" aria-controls="v-pills-code" aria-selected="false">
                                Code
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content">
                            <!--Problem decomposition-->
                            <div class="tab-pane active" id="v-pills-problem" role="tabpanel"
                                 aria-labelledby="v-pills-problem-tab">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <img src="../.././images/photoshare.png" class="img-fluid"
                                             alt="Responsive image">
                                    </div>
                                </div>

                            </div>
                            <!--System decomposition-->
                            <div class="tab-pane fade" id="v-pills-system" role="tabpanel"
                                 aria-labelledby="v-pills-system-tab">

                                <div class="cardno">
                                    <img style="height: 233px;" class="card-img-top" src="../.././images/soon.svg"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <div style="text-align: center;">
                                            <h5 class="card-title">Coming soon</h5>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!--Code -->
                            <div class="tab-pane fade" id="v-pills-code" role="tabpanel"
                                 aria-labelledby="v-pills-code-tab">
                                <div class="cardno">
                                    <img style="height: 233px;" class="card-img-top" src="../.././images/soon.svg"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <div style="text-align: center;">
                                            <h5 class="card-title">Coming soon</h5>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!----Project review--->
            <div class="tab-pane" id="tab_default_4">
                <div class="row">
                    <div class="col-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link active" style="border-radius: 0rem" data-toggle="pill"
                               href="#v-pills-demo"
                               role="tab" aria-controls="v-pills-demo" aria-selected="true">
                                Live demo
                            </a>
                            <a class="nav-link" style="border-radius: 0rem" data-toggle="pill" href="#v-pills-video"
                               role="tab" aria-controls="v-pills-video" aria-selected="false">
                                Video Proctor
                            </a>
                            <a class="nav-link" style="border-radius: 0rem" data-toggle="pill" href="#v-pills-port"
                               role="tab" aria-controls="v-pills-port" aria-selected="false">
                                Candidate portofolio
                            </a>

                        </div>
                    </div>
                    <div class="col-9">
                        <div class="tab-content">
                            <div class="tab-pane  active" id="v-pills-demo" role="tabpanel"
                                 aria-labelledby="v-pills-demo-tab">
                                <a class="portfolio-item" href="https://cryptoprize.herokuapp.com/">
                                    <div class="container1">
                                        <img src="../.././images/capture.PNG" alt="Avatar" class="image">
                                        <div class="overlay">
                                            <div class="text">Live demo</div>
                                        </div>
                                    </div>

                                </a>
                            </div>
                            <div class="tab-pane fade" id="v-pills-video" role="tabpanel"
                                 aria-labelledby="v-pills-video-tab">
                                <a class="portfolio-item" href="https://cryptoprize.herokuapp.com/">
                                    <div class="container1">
                                        <img src="../.././images/coder.PNG" alt="Avatar" class="image">
                                        <div class="overlay">
                                            <div class="text">Video proctor</div>
                                        </div>
                                    </div>

                                </a>

                            </div>
                            <div class="tab-pane fade" id="v-pills-port" role="tabpanel"
                                 aria-labelledby="v-pills-port-tab">
                                <div class="cardno">
                                    <img style="height: 233px;" class="card-img-top" src="../.././images/soon.svg"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <div style="text-align: center;">
                                            <h5 class="card-title">Coming soon</h5>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>





