<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Which skill are you looking for?</h5>

    {{#if username}}

    <div class="panel-body">
      <p>Username: {{username.local.username}}</p>

    </div>


{{else}}


    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>

{{/if}}

</div>
<div class="row">
    <div class="col-sm-2">
        <a href="/frontend">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Frontend</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/backend">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Backend</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/fullstack">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Full stack</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/devops">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Devops</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/android">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> Android developer</h5>

                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-2">
        <a href="/ios">
            <div class="card card1">
                <div class="card-body">
                    <h5 class="card-title cardtitle1"> IOS developer</h5>

                </div>
            </div>
        </a>
    </div>

</div>
<hr>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h5>Projects ongoing </h5><br>

</div>
<!--projects here-->

<div class="row">
    {{# each projects}}
    {{# each this.items}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.item.projectname}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">type frontend</h6>
            <p class="card-text">Candidates 20</p>
        </div>
    </div>
        {{/each}}
        {{/each}}


</div>


