<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Send out invites</h5>
</div>


        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-center">

                    <h4>Upload list of candidates to invite</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <form>
                    <div class="form-row">
                        <div class="col">

                            <input type="number" required class="form-control" placeholder="Input number of candidates">
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>

        </div>
        <div class="row " style="margin-top: 3%">
            <div class="col-lg-12">

                <div class="text-center">
                    <img style="height: 70px;width: 70px" src="../.././images/outbox.svg">
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 3%">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <div class="form-group">

                    <div style="margin-left: 63px">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/requirements" role="button">Previous</a>
                    <a class="btn btn-primary" style="margin-left: 5%" href="/invoice" role="button">Next</a>
                </div>
            </div>

        </div>
