<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
           aria-controls="nav-home" aria-selected="true">Overview</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
           aria-controls="nav-profile" aria-selected="false">Measures</a>

    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="content" style="margin-top: 1%">
            <div class="container-fluid">
                <!---intro--->
                <div class='row' style="padding-top: 11px">
                    <div class="col-lg-2">
                        <img style="width: 110px;height: 110px"
                             src="https://www.ccmcinc.com/wp-content/uploads/2018/01/Male-Avatar.png">
                    </div>

                    <div class="col-lg-5">
                        <div>

                            <strong>Name:</strong> AYANSIJI, AYANDOTUN AYOTUNDE<br>
                            <strong>Project Name:</strong> Weather Monitor <br>
                            <strong>Position Applied For:</strong> CTO<br>
                            <strong>Date:</strong> 20th June, 2018
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div>
                            <ul>
                                <li>
                                    <a style="color: #2524FF" href="https://github.com/Philisiah/php-test-codeln">Access candidate's code base</a>
                                </li>
                                <li>
                                    <a style="color: #2524FF" href="https://drive.google.com/file/d/1_UBt_bukuEmNmfxuqfk0wal4hyVYVCQF/view?usp=sharing">Project preview</a>
                                </li>
                                <li>
                                    <a style="color: #2524FF" href="https://docs.google.com/document/d/1eVsgeBV2TfUAo1UJLjmxeeyxG4ggEMCgqg7USvouSjg/edit?usp=sharing">Test questions</a>
                                </li>
                            </ul>



                        </div>
                    </div>
                </div>
                <hr>
                <!---marks--->
                <div class="row" style="margin-top: 40px">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="criteriaspaces text-center">
                                <p><strong>Time Spent (Minutes)</strong></p>
                                <!-- <p id='smallp'>(Total Number of Tests Passed)</p>   -->
                                <p><strong>240</strong></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="criteriaspaces text-center">
                                <p><strong>Overall Score</strong></p>
                                <!-- <p id='smallp'>(Total Number of Tests Failed)</p>   -->
                                <p><strong>60%</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="criteriaspaces text-center">
                                <p><strong>Competency</strong></p>
                                <!-- <p id='smallp'>High</p>   -->
                                <p><strong>Moderate</strong></p>
                            </div>
                        </div>
                    </div>

                </div>
                <!---summary--->
                <div class="reportspace">
                    <div class="col-lg-12 report4" >
                        <h4>Summary</h4>

                        <p class="h7">
                            The candidate shows Proficiency in the area he was tested on.

                        </p>
                         <p class="h7">
                             His approach to solving the problem was optimized.

                        </p>
                         <p class="h7">
                            He needs to adjust to writing a more modern version of PHP.

                        </p>
                        </div>

                </div>


                <!---proffieciency--->

                <!---deliverables--->
                <div class="reportspace">
                    <div class="col-lg-12 report4">
                        <div >
                            <h4 >Project Deliverables</h4>


                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>

                                <th scope="col">Deliverables</th>

                                <th scope="col">status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>Fetch openweathermap api data</td>

                                <td><span class="badge badge-success">Complete</span></td>
                            </tr>
                            <tr>

                                <td>Configure a REST api to access the data
                                </td>

                                <td><span class="badge badge-success">Complete</span></td>
                            </tr>
                            <tr>

                                <td>The dashboard should contain unique ID, Name of City, Visibility and Temperature
                                </td>
                                <td><span class="badge badge-warning">3/4 complete</span></td>
                            </tr>
                            <tr>

                                <td>Search Feature and error handling .</td>
                                <td><span class="badge badge-warning">1/2 Complete</span></td>
                            </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
                <!---code quality--->


            </div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="content" style="margin-top: 1%">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <!-- <div class="card"> -->
                        <div class="text-center">

                            <h4><strong>Criteria for Grading</strong></h4>
                            <br>
                        </div>
                        <!-- Post Metrics Card -->
                        <div class="content">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Tests Passed</strong></p>
                                                <p id='smallp'>(Number of Unit Tests Passed)</p>
                                                <p id='biggestp' style="color:rgb(0, 128, 28);"><strong>6</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Tests Failed</strong></p>
                                                <p id='smallp'>(Number of Unit Tests Failed)</p>
                                                <p id='biggestp'><strong>2</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Warnings</strong></p>
                                                <p id='smallp'>(Total Number of warnings)</p>
                                                <p id='biggestp' style="color:rgb(241, 7, 7);"><strong>8</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Errors</strong></p>
                                                <p id='smallp'>(Total Number of errors)</p>
                                                <p id='biggestp'><strong>1</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Lines of Code</strong></p>
                                                <p id='smallp'>(Number of code lines)</p>
                                                <p id='biggestp'><strong>169</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Duplications</strong></p>
                                                <p id='smallp'>(Density of Duplication)</p>
                                                <p id='biggestp'><strong>0%</strong></p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Number of Classes</strong></p>
                                                <p id='smallp'>(Total Number of Classes)</p>
                                                <p id='biggestp'><strong>0</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Comments</strong></p>
                                                <p id='smallp'>(Comment Line Density)</p>
                                                <p id='biggestp'><strong>0%</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Dependencies</strong></p>
                                                <p id='smallp'>(Dependencies to cut)</p>
                                                <p id='biggestp'><strong>0</strong></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Run time</strong></p>
                                                <p id='smallp'>(In seconds)</p>
                                                <p id='biggestp'><strong>1.39</strong></p>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Technical Debt Ratio</strong></p>
                                                <p id='smallp'>(Cost to fix maintainability Issues)</p>
                                                <p id='biggestp'><strong>0.0%</strong></p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="card">
                                            <div class="criteriaspaces text-center">
                                                <p id='bigp'><strong>Quality Gates</strong></p>
                                                <p id='smallp'>(Rate of code quality)</p>
                                                <p id='biggestp' style="color:green;"><strong>OK</strong></p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>





