<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">

    <h5>Candidates requirements</h5>
</div>

        <div class="card cardno">

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-center"><strong>Basic features</strong></div>
                        <ul>
                            <li>Improved UI/UX</li>
                            <li>Sign up for users at your Client's company</li>
                            <li>Login (you are free to use a package such as Passport for Authentication)</li>
                            <li>Integration with at least 3 exchanges (with Websocket API for their market data).
                                Examples of such exchanges are Bitstamp, OKCoin, etc.
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center"><strong>Advanced features</strong></div>
                        <ul>
                            <li>Persist the market data in a PostgreSQL database (node-postgres)</li>
                            <li>Allow users to set up alerts for a certain price point</li>

                        </ul>

                    </div>
                </div>
                <div class="row">

                    <div class="form-group ml-auto" style="width: 50%;">
                        <label for="exampleFormControlTextarea1">Add requirements</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                  style="border-color: #000000;"></textarea>
                    </div>
                </div>
                <div class="row">
            <div class="col-lg-12">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-primary" href="/custom" role="button">Previous</a>
                    <a class="btn btn-primary" style="margin-left: 5%" href="/invites" role="button">Next</a>
                </div>
            </div>

        </div>
            </div>
        </div>


